In [151]:
import pandas as pd
import numpy as np

In [152]:
df=pd.read_csv("nba_2013.csv")

In [153]:
df.dropna(inplace=True)

In [154]:
df.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [155]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013
6,LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,...,599,765,178,63,68,123,147,1603,2013-2014,2013
7,Lavoy Allen,PF,24,TOT,65,2,1072,134,300,0.447,...,192,311,71,24,33,44,126,303,2013-2014,2013

In [156]:
df.pts.head() # Since the column is continous/independent  we will convert to discrete/dependent variable to carry the regression

0     171
3    1330
4     328
6    1603
7     303
Name: pts, dtype: int64

In [157]:
# create a Series of booleans in which roughly half are True
nums = df.pts
mask_large = nums > 300

# initially set Size to small, then change roughly half to be large
df['Score points'] = 'small' # new column
df.loc[mask_large, 'pts'] = 'large'

In [158]:
# create a new Series called IsLarge
df['Score_pts'] = df.pts.map({'small':0, 'large':1})
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,ast,stl,blk,tov,pf,pts,season,season_end,Score points,Score_pts
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,28,23,26,30,122,171,2013-2014,2013,small,NaN
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,248,35,3,146,136,large,2013-2014,2013,small,1.0
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,40,23,46,63,187,large,2013-2014,2013,small,1.0
6,LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,...,178,63,68,123,147,large,2013-2014,2013,small,1.0
7,Lavoy Allen,PF,24,TOT,65,2,1072,134,300,0.447,...,71,24,33,44,126,large,2013-2014,2013,small,1.0

In [159]:
df.Score_pts.fillna(0,inplace=True)

In [160]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,ast,stl,blk,tov,pf,pts,season,season_end,Score points,Score_pts
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,28,23,26,30,122,171,2013-2014,2013,small,0.0
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,248,35,3,146,136,large,2013-2014,2013,small,1.0
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,40,23,46,63,187,large,2013-2014,2013,small,1.0
6,LaMarcus Aldridge,PF,28,POR,69,69,2498,652,1423,0.458,...,178,63,68,123,147,large,2013-2014,2013,small,1.0
7,Lavoy Allen,PF,24,TOT,65,2,1072,134,300,0.447,...,71,24,33,44,126,large,2013-2014,2013,small,1.0

In [161]:
import matplotlib.pyplot as plt
import seaborn as sns

# Gaussian Naive Bayes
from sklearn import datasets
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB

In [162]:
X=df[['g', 'gs', 'mp', 'fg', 'fga']]
Y=df.Score_pts

In [163]:
model = GaussianNB()

In [164]:
from sklearn.model_selection import train_test_split
# Split the data into Trainging and Testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [165]:
model.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [166]:
# Predicted outcomes
predicted = model.predict(X_test)

# Actual Expected Outvomes
expected = Y_test

In [167]:
 metrics.accuracy_score(expected, predicted)

0.9702970297029703