In [43]:
import pandas as pd
import numpy as np

In [61]:
df=pd.read_csv("nba_2013.csv")

In [105]:
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,tov,pf,pts,season,season_end,Size,Score points,IsLarge,Score pts,Score_pts
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,30,122,171,2013-2014,2013,small,small,0,0,0
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,71,203,265,2013-2014,2013,small,small,0,0,0
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,39,108,362,2013-2014,2013,small,small,0,0,0
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,146,136,1330,2013-2014,2013,large,small,1,1,1
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,63,187,328,2013-2014,2013,small,small,0,0,0

In [46]:
df.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [84]:
# create a Series of booleans in which roughly half are True
nums = df.pts
mask_large = nums > 500

# initially set Size to small, then change roughly half to be large
df['Score points'] = 'small'
df.loc[mask_large, 'Size'] = 'large'

In [91]:
# create a new Series called IsLarge
df['Score_pts'] = df.Size.map({'small':0, 'large':1})
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,tov,pf,pts,season,season_end,Size,Score points,IsLarge,Score pts,Score_pts
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,30,122,171,2013-2014,2013,small,small,0,0,0
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,71,203,265,2013-2014,2013,small,small,0,0,0
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,39,108,362,2013-2014,2013,small,small,0,0,0
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,146,136,1330,2013-2014,2013,large,small,1,1,1
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,63,187,328,2013-2014,2013,small,small,0,0,0

In [93]:
# Selecting dependent and independent variables

x=df[['drb', 'trb', 'ast', 'stl']]
y=df.Score_pts
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer

In [94]:
imp = Imputer(missing_values="NaN", strategy='median', axis=0)
x1 = imp.fit_transform(x)

C:\Users\viresh\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [95]:
X_train, X_test, y_train, y_test = train_test_split(x1,y, test_size = 0.3, random_state = 100)

In [96]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [97]:
neigh = KNeighborsClassifier(n_neighbors = 5, weights='uniform', algorithm='auto')

In [98]:
neigh.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [99]:
y_pred = neigh.predict(X_test)
print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",25)

Accuracy is  86.20689655172413 % for K-Value: 25

In [100]:
for K in range(25):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)
    print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  84.82758620689656 % for K-Value: 1
Accuracy is  80.6896551724138 % for K-Value: 2
Accuracy is  87.58620689655172 % for K-Value: 3
Accuracy is  84.82758620689656 % for K-Value: 4
Accuracy is  86.20689655172413 % for K-Value: 5
Accuracy is  86.20689655172413 % for K-Value: 6
Accuracy is  86.89655172413792 % for K-Value: 7
Accuracy is  86.20689655172413 % for K-Value: 8
Accuracy is  86.89655172413792 % for K-Value: 9
Accuracy is  86.89655172413792 % for K-Value: 10
Accuracy is  86.20689655172413 % for K-Value: 11
Accuracy is  85.51724137931035 % for K-Value: 12
Accuracy is  84.82758620689656 % for K-Value: 13
Accuracy is  85.51724137931035 % for K-Value: 14
Accuracy is  86.20689655172413 % for K-Value: 15
Accuracy is  84.82758620689656 % for K-Value: 16
Accuracy is  85.51724137931035 % for K-Value: 17
Accuracy is  85.51724137931035 % for K-Value: 18
Accuracy is  86.89655172413792 % for K-Value: 19
Accuracy is  86.89655172413792 % for K-Value: 20
Accuracy is  86.89655172413792 % for K-Value: 21
Accuracy is  86.89655172413792 % for K-Value: 22
Accuracy is  86.89655172413792 % for K-Value: 23
Accuracy is  86.20689655172413 % for K-Value: 24
Accuracy is  86.89655172413792 % for K-Value: 25

In [101]:
y_pred

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0], dtype=int64)

In [104]:
from sklearn.model_selection import cross_val_score
# creating odd list of K for KNN
myList = list(range(1,50))

# subsetting just the odd ones
neighbors = filter(lambda s: s % 2 != 0, myList)

# empty list that will hold cv scores
cv_scores = []

# perform 10-fold cross validation
for k in neighbors:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, X_train, y_train, cv=10, scoring='accuracy')
    cv_scores.append(scores.mean())
    
print(cv_scores)

[0.8838513814616755, 0.9072860962566844, 0.9075590463458111, 0.9103219696969698, 0.9014984402852051, 0.8928587344028521, 0.8929478609625668, 0.8898228609625669, 0.898919340463458, 0.881088458110517, 0.8900011140819963, 0.8871490641711229, 0.8870599376114082, 0.8900902406417112, 0.8929422905525846, 0.8900011140819963, 0.8959725935828876, 0.8958834670231729, 0.8929422905525846, 0.8900011140819963, 0.8900011140819963, 0.8900011140819963, 0.8929422905525846, 0.8870599376114082, 0.8900011140819963]